---
title: Troubleshooting On-Demand RabbitMQ for PCF
owner: London Services Enablement
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
    }
</style>

This topic provides operators with basic instructions for troubleshooting on-demand RabbitMQ&reg; for Pivotal Cloud Foundry (PCF).

## <a id="errors"></a>Troubleshooting Errors

Start here if you're responding to a specific errors or error messages.

### <a id="install-fail"></a>Failed Install

<%= partial '../../rabbitmq-cf/odb/tshoot-err-install-fail' %>

### <a id="cannot-create-delete"></a>Cannot Create or Delete Service Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-err-cannot-create-delete' %>

### <a id="timeouts"></a>Broker Request Timeouts

<%= partial '../../rabbitmq-cf/odb/tshoot-err-timeouts' %>

### <a id="cannot-bind"></a>Cannot Bind - Instance Does Not Exist

<%= partial '../../rabbitmq-cf/odb/tshoot-err-instance-not-exist' %>

### <a id="other-errors"></a>Cannot Bind - Other Errors

<%= partial '../../rabbitmq-cf/odb/tshoot-err-other-errors' %>

### <a id="cannot-connect"></a>Cannot Connect to a Service Instance

<%= partial '../../rabbitmq-cf/odb/tshoot-err-cannot-connect' %>

### <a id="upgrade-all-fails"></a>Upgrade All Instances Fails

<%= partial '../../rabbitmq-cf/odb/tshoot-err-upgrade-all-fails' %>

### <a id="missing-logs"></a>Missing Logs and Metrics

<%= partial '../../rabbitmq-cf/odb/tshoot-err-missing-logs' %>

## <a id="components"></a>Troubleshooting Components

Guidance on checking for and fixing issues in on-demand service components.

### <a id="no-bosh-uuid"></a>Missing BOSH Director UUID

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-no-bosh-uuid' %>

### <a id="large-queue"></a>Large BOSH Queue

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-large-queue' %>

### <a id="bosh-config"></a>Configuration

### <a id="bosh-instance-fail"></a>BOSH Service Instances Failing

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-bosh-instance-fail' %>

### <a id="uaa-change"></a>UAA Changes

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-uaa-change' %>

### <a id="network"></a>Networking

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-network' %>

### <a id="broker-to-instances"></a>Validate Service Broker Connectivity to Service Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-broker-to-instances' %>

### <a id="app-to-instances"></a>Validate App Access to Service Instance

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-app-to-instances' %>

### <a id="plan-quotas"></a>Plan Quota issues

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-plan-quotas' %>

### <a id="global-quotas"></a>Global Quota Issues

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-global-quotas' %>

### <a id="failing-jobs"></a>Failing Jobs and Unhealthy Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-comp-failing-jobs' %>

## <a id="techniques"></a>Techniques for Troubleshooting

Instructions on interacting with the on-demand service broker and on-demand service instance BOSH deployments, and on performing general maintenance and housekeeping tasks

## <a id="parse-error"></a>Parse a Cloud Foundry (CF) Error Message

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-parse-error' %>

## <a id="bosh-cf-access"></a>Access Broker and Instance Logs and VMs

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-bosh-cf-access' %>

### <a id="access-broker"></a>Access Broker Logs and VM(s)

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-access-broker' %>

### <a id="access-instance"></a>Access Service Instance Logs and VMs

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-access-instance' %>

## <a id="broker-errands"></a>Run Service Broker Errands to Manage Brokers and Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-broker-errands' %>

### <a id="register-broker"></a>Register Broker

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-register-broker' %>

### <a id="deregister-broker"></a>Deregister Broker

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-deregister-broker' %>

### <a id="upgrade-all"></a>Upgrade All Service Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-upgrade-all' %>

### <a id="delete-all"></a>Delete All Service Instances

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-delete-all' %>

## <a id="instance-deployment"></a>Select the BOSH Deployment for a Service Instance

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-instance-deployment' %>

## <a id="instance-creds"></a>Get Admin Credentials for a Service Instance

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-instance-creds' %>

## <a id="reinstall"></a>Reinstall a Tile

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-reinstall' %>

## <a id="view-resources"></a>View Resource Saturation and Scaling

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-view-resources' %>

## <a id="id-instance-owner"></a>Identify Service Instance Owner

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-id-instance-owner' %>

## <a id="monitor-quota"></a>Monitor Quota Saturation and Service Instance Count

<%= partial '../../rabbitmq-cf/odb/tshoot-tech-monitor-quota' %>

## <a id="support"></a>File a Support Ticket

<%= partial '../../rabbitmq-cf/odb/tshoot-support' %>

## <a id="kb"></a>Knowledge Base (Community)

<%= partial '../../rabbitmq-cf/odb/tshoot-kb' %>
