---
title: Updating RabbitMQ for PCF from v1.6.x to v1.6.6
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes how to update the RabbitMQ&reg; tile to v1.6.6 from earlier v1.6.0–v1.6.4 versions. 

The update described on this page includes a workaround for an issue with earlier versions of the RabbitMQ tile: 
the service-metrics process on each RabbitMQ server node must be stopped before the update.

## <a id="prepare-to-update"></a>Prepare for the Update

Before upgrading the RabbitMQ tile, do the following: 

* [Update your stemcells to 3232.17](#update-stemcells)

* [Check tile status](#check-tile-status)

* [Check cluster status](#check-cluster-status)

### <a id="update-stemcells"></a>Update Your Stemcells

The Rabbit MQ v1.6.6 tile requires stemcell 3232.17.
Later versions of the tile require higher stemcells, so make sure to look at the release notes for details.

When you update a stemcell for one tile, all the tiles that use floating stemcells and that are using earlier stemcells will have their stemcells updated.
For general information about floating stemcells, see the [Understanding Floating Stemcells](http://docs.pivotal.io/pivotalcf/customizing/understanding-stemcells.html) topic.

Before you update the RabbitMQ tile, Pivotal recommends that you update the stemcell on all products that use floating stemcells. 
Do this by updating the stemcell for Pivotal Elastic Runtime as follows:

1. Download the stemcell 3232.17 for your IaaS from the [Pivotal Network](https://network.pivotal.io/products/stemcells#/releases/2110).

2. On the **Installation Dashboard**, click **Pivotal Elastic Runtime**.

3. On the **Settings** tab, click **Stemcell**.

4. Click **Import Stemcell**.

5. Upload the 3232.17 stemcell file. 

6. Return to the Installation Dashboard and click **Apply Changes**.

### <a id="check-tile-status"></a> Check the Tile Status

Ensure that all the VMs have sufficient persistent disk space, that is, they are less than 75% full, and are in a good state: 

1. Navigate to the Status page on the RabbitMQ tile. 

    <%= image_tag("good_status.png") %>

2. Check that all of the entries in the "pers. disk" column are below 75%. 

3. If the persistent disk ("pers. disk") is greater than 75%, then consume messages from the queues hosted on the node or 
contact <%= vars.support_link %> for assistance.

4. Confirm that all RabbitMQ nodes in the cluster are operational.
If any nodes are in a "failing" state, they are outlined in red. 

    <%= image_tag("bad_status.png") %>

5. If Ops Manager indicates any nodes are in a failing state, contact <%= vars.support_link %>. 
Do not update the RabbitMQ tile until all nodes in the cluster are operational.

### <a id="check-cluster-status"></a> Check the Cluster Status

Ensure that all RabbitMQ nodes are correctly clustered and can see each other:

1. Navigate to the RabbitMQ management interface at `http://pivotal-rabbitmq.SYSTEM_DOMAIN`

2. Log in with the full admin username and password created when you first deployed the RabbitMQ tile. 

3. On the **Nodes** section, ensure that there are no red banners that say `Node not running`. 

    <%= image_tag("bad_node_state.png") %>

    In this example, the fifth node in the cluster cannot be reached from the other nodes.

5. If you see a problem with the nodes, contact <%= vars.support_link %>. Do not update the RabbitMQ tile until all nodes are green.

## <a id="update-tile"></a>Update the RabbitMQ Tile

Updating the RabbitMQ tile to v1.6.6 is different from a normal update. 
Because of an issue in earlier versions of RabbitMQ, you must stop the service-metrics process on each 
RabbitMQ server node before performing the update. 
These service-metrics processes are automatically restarted after the upgrade.

There are two parts for updating the RabbitMQ tile:

* [Stop the service-metrics process](#stop-metrics)

* [Import the product update](#import-product)

### <a id="stop-metrics"></a> Stop the Service-Metrics Processes

Stop the service-metrics on each RabbitMQ server node by SSHing into the node and using monit to stop the processes:

1. Target your RabbitMQ deployment with BOSH, on the command line, run `bosh ssh` . For more information, see the [Advanced Troubleshooting with the BOSH CLI](http://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh) topic. 

    <pre class='terminal'>
      RSA 1024 bit CA certificates are loaded due to old openssl compatibility 
      &#49;. rabbitmq-haproxy/0 (eaf83d0a-a939-4e17-bac3-c9f0de428158)
      &#50;. rabbitmq-broker/0 (fe07bfd1-d2b0-4639-b808-8d6341e67fb1)
      &#51;. rabbitmq-server/0 (80910e31-1427-446e-93d7-29bb215d0aa4)
      &#52;. rabbitmq-server/1 (f1819cda-c629-411b-b68c-e4a15535c0e0)
      Choose an instance:
    </pre>

2. SSH into each `rabbitmq-server` node in turn and perform the following steps. Ignore the `rabbitmq-haproxy` and `rabbitmq-broker` nodes. 

    1. Choose a rabbitmq-server instance.

    2. Open a root shell by typing `sudo -i`

    3. Stop service-metrics by typing `monit stop service-metrics` 

    4. Ensure service-metrics has stopped by running monit summary and checking the status of service-metrics is `not monitored`. 
It may take a few moments for service-metrics to shut down, so you might have to run monit summary several times.

    5. Ensure metrics do not leave processes running. Type ps aux | grep rabbitmqctl and ensure that no running processes are returned. 

When the service-metrics stop on a given rabbitmq-server node, Ops Manager detects that something is wrong with that node. 
As a result, after you stop all your service-metrics processes, the status tab in your RabbitMQ tile shows problems like this:

<%= image_tag("stopped_nodes.png") %>

If you checked the tile status immediately before stopping the service-metrics, you can be confident that the errors are only related to the stoppage. 
If you check the [cluster status](#check-cluster-status) now, it should still be in a good state. 

### <a id="import-product"></a> Import the Product Update

This is the standard [upgrade procedure for service tiles](http://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html).

1. Click **Import a Product.**

2. Under **Available Products**, click **Upgrade** for the v1.6.6 RabbitMQ tile.

3. Click **Apply changes.**

4. As a part of the upgrade, the service-metrics processes are restarted on each RabbitMQ server node.

5. After the update, check that the [tile status](#check-tile-status) and [cluster status](#check-cluster-status) are good.


